@font-face {
    font-family: Century;
    src: url('../fonts/CenturyGothicRegular.ttf');
}

html, body {
	width: 100%;
	height: 100%;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
	font-family: Century;
}



  main {
    flex: 1 0 auto; 
}

.page-footer {
    padding-top: 20px;
   background-color: #605f6a;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px; 
}

.slider.fullscreen {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.slider .slides li video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: contain;
}

nav{
	z-index: 999;
    position: absolute;
    box-shadow: none;
    background-color: transparent;
    transition: .2s;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.centrado{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.centradoR{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.textSlide{
	font-size: 35px;
    letter-spacing: 0.12px;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    color: #fff;
}

.acento{
	color: #6cfe6b;
}

.acentobg{

	background-color: #6cfe6b;
}

.negro{
	color: #393646;
}

.navTop{
    background-color: #393646;
    transition: .2s;
}

.logo{
    padding-top: 20px; 
    margin-left: 20px;
    transition: .3s;
    height: 90px;
}

.logoTop{
padding-top: 10px;
margin-left: 15px;
height: 54px;
transition: .3s;

}

.negrobg{
	background-color: #393646;
}
.amarrilo{
    color: #f5cb23;
}

.amarillobg{
    background-color: #f5cb23;
}
#funciona{
    
}
#invertir{
	padding-bottom: 80px;
}
#invertirAhora{
                                   
    padding-bottom: 80px;
}

#invertir img{
	width: 80px;
    padding-top: 20px;
    padding-bottom: 50px;
    transition: .3s;
}
#invertir img:hover{
    transform: rotate(-10deg);
    transition: .3s;
}
#invertir div{
    margin-top: 15px;
    transition: .3s;
}

#invertir div:hover {
    box-shadow: rgba(221, 221, 221, 1) 2px 2px 150px;
    transition: .6s;
}

#logoLogin{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.fb{

    background-color: #4c71a3;

}

.fb:hover{

    background-color: #40608b;

}

#imgFbLogin{
    position: relative;
    transform: translate(0%, -50%);
    -webkit-transform: translate(-14%, 25%);
}

#loginImg{
    background-image: url('../img/7.jpg'); 
    background-repeat: no-repeat;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}

#registroImg{
    background-image: url('../img/8.jpg'); 
    background-repeat: no-repeat;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}

#proyectos{

    padding-top: 40px;
    padding-bottom: 0px;
}

.registro{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;
    border: 1px solid white;
    transition: .3s;
}

.registro:hover{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #6cfe6b;
    transition: .3s;
}

.ingresar{
    color: #393646;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;
    background-color: #6cfe6b;
    border: 2px solid #6cfe6b;
    transition: .3s;
}

.ingresar:hover{
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: #393646;
    border: 2px solid #393646;
    transition: .3s;
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 996;
    will-change: opacity;
}

.progress {
    position: relative;
    vertical-align: middle; 
    height: 40px;
    display: block;
    width: 100%;
    background-color: #ececec;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
    border-radius: 5px;
}

#contacto{
    background-image: url('../img/7.jpg');
}

.perfil{
    padding-top: 10px;
}

.carousel .carousel-item {
    display: block;
    width: 480px;
    height: 200px;
    position: absolute;
    top: -100px;
    left: 0px;
}

.carousel .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: 0;
}

.carousel .indicators .indicator-item.active {
    background-color: #6cfe6b;
}

.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 24px 4px;
    background-color: rgb(195, 195, 195);
    transition: background-color .3s;
    border-radius: 50%;
}

.pdf{
    width: 10%;
    transition: .3s;
}
.pdf:hover{

    width: 13%;
    transition: .3s;
}

#agregar{

    border: #4caf50 solid 2px;
    border-radius: 50%;
    margin-right: 19px;
    font-size: 30px;
    transition: .3s;
}

#agregar:hover{

    border: #4caf50 solid 2px;
    border-radius: 50%;
    margin-right: 16px;
    font-size: 38px;
    transition: .4s;
}

#edit{
    font-size: 32px;
}

#delete{
    font-size: 32px;
}